body{
    padding: 0;
    margin: 0;
    display: grid;
}

  div{
    background-color: rgb(241, 207, 207);
 }

 #generalContainer  {
    border: 0.1rem solid #339ecf;
    height: 100vh;
    display: grid;
    gap: 1rem;

    grid-template:
    "nav aside header" 15rem
    "nav aside main" auto
    "nav aside footer" 2rem /
    13rem 15rem auto
 }

.wrapper {
    border-radius: 1rem;
}

header {
    grid-area: header; 
    display: flex;
    justify-content: right;
    border: 1rem solid #db3a63;
}


header #pageImage {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

nav {
    grid-area: nav;
    border: 1rem solid #e04ca8;
    background-color: blanchedalmond;
}

.cocacola {
    border: 0.1rem solid brown;
}

.altura {
    /* height: 3rem; */
}

.vinotinto {
    border: 0.1rem solid black;
    /* height: 1rem; */
}

aside {
    grid-area: aside;
    border: 1rem solid rgb(149, 50, 158);
}

main {
    grid-area: main;
    display: flex;
}

#botonMensaje {
    margin: auto auto;
    background: rgb(219, 105, 124);
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    border: none ;
}
#botonMensaje:hover {
    background: #e04ca8;
    cursor: pointer;
}
#botonMensaje:active 
{background: paleturquoise ;}

#mostrarTexto{
    border: 1px solid rgb(180, 104, 149);
    width:50%;
    height: 2rem;
}
footer {
    grid-area: footer;
    border: 1rem solid rgb(218, 143, 159);
    /* height: 1rem; */
}
